<div class="row">
  <div class="col-12">
    <div class="row student" *ngFor="let student of students">

      <div class="id">{{ student.id }}</div>

      <div class="name">{{ student.name }}</div>

      <div class="buttons">
        <div>
          <a routerLink="{{student.id}}">
            <button mat-stroked-button>
              <mat-icon>person</mat-icon>
            </button>
          </a>
        </div>

        <div>
          <a class="link" routerLink="{{student.id}}/edit">
            <button mat-stroked-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </a>
        </div>

        <div>
          <button mat-stroked-button color="warn" (click)="deleteStudent(student.id)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

    </div>

    <div class="row add" *ngIf="!editMode">
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="editMode = !editMode">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row form" *ngIf="editMode">
      <div class="col-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="row align-items-center">
            <div class="col-6 text-center">
              <mat-form-field style="width: 80%">
                <input type="text" 
                matInput 
                placeholder="Name"  
                name="name" 
                ngModel
                required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div class="col-3">
              <button type="button" mat-raised-button color="warn" (click)="editMode = !editMode">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>