header{
    
    
    font-family: 'Anton', sans-serif;
    background-color:#b84dff;
    border-radius: 5px;
    
}
h1
{
    padding:10px 15px;
}
main
{
   /*position: relative*/
}
section{
    display:inline-block;
    width:45%;
    border-right:3px grey solid;
}
.line
{
    margin:50px 10px;
    border-bottom:2px solid grey;
    padding:15px;
}
.title
{
    width:40%;
    display:inline-block;
    padding:5px;
    font-family: 'Amaranth', sans-serif;
    font-size: 24px;
    
}
.input
{
    width:40%;
    display:inline-block;
    height:30px;
    padding:10px;
    
}
.input:focus
{
    height: 40px;
    border:3px  #d699ff solid;
}
.generate
{
    display:block;
    margin:auto;
    width:30%;
    height:64px;
    padding:10px;
    background-color: #b84dff;
    border-radius: 5px;
    font-size:24px;
    color:white; 
    font-family: 'Amaranth', sans-serif;
    box-shadow: 5px 5px #d699ff;

}
.generate:hover
{
    background-color: white;
    color:#b84dff;
    cursor: pointer;
}
.cover
{
    
    display:inline-block;
    width:40%;
    margin:auto;
    margin-left:100px;
    
    position:absolute;
    border:5px grey inset;
    top:150px;
    
}
.cover div
{
    margin-bottom: 64px;
}
.btitle
{
    margin:auto;
    text-align: center;
    width:80%;
    height:70px;
    padding:32px;
    font-family:'Anton', sans-serif;
    font-size:48px;
   
}
.subtitle,.author
{
    margin:auto;
    text-align: center;
    width:60%;
    font-family: 'Cormorant Garamond', serif;
    font-size:32px;
   
}
.publisher,.year
{
    display:inline-block;
    padding:5px;
    width:45%;
}
.year{
    text-align:right;
}