<div class="container">
  <div class="row justify-content-center text-center">
    <h1>Submissions {{submissions ? '['+submissions.length+']' : ''}}</h1>
    <div class="col-12 text-center" *ngIf="loading">
      <div class="row justify-content-center">
        <mat-spinner ></mat-spinner>
      </div>
    </div>
    <div class="col-10" *ngIf="!loading">

      <div class="row" *ngFor="let submission of submissions">
        <div class="col-6">
          <a routerLink="{{submission.id}}">{{submission.id}}</a>
        </div>

        <div class="col-6">
          <a routerLink="{{submission.id}}">{{submission.created_at}}</a>
        </div>

      </div>
    </div>
  </div>
</div>
