.header1 {
    background-color: royalblue;
    font-size: 20px;
    margin: 0cm;
    padding: 20px 30px;
    font-size: 25px;
}


.bod {
    margin: 0;
}

.sec1 {
    display: inline-block;
    width: 45%;
}

#b{
   font-size: 100px;
   text-align: center;

}

#f{
    font-size: 35px;
    text-align: center;

}

#d{
    font-size: 40px;
}

#g{
    font-size: 40;
    text-align: center;
}

.bd{
    display: inline-block;
    width: 47%;
}

.ss{
    text-align:right;
}

#c{
    font-size: 40px;
}

.ba{
    width: 100%;
}

.sec2 {
    display: none  ;
    margin-bottom: 20px;
    position: relative;
    top: -50px;
    width: 45%;
    background-color: black;
}



.mar{
 margin-bottom: 150px;
 width: 100%;
}



.a {
    display: inline-block;
    text-align: center;
    width: 40%;
    background-color: aquamarine;
    border: 30px 20px;
    margin: 40px 10px;
    border-radius: 4px;
    border: solid black;
}

.b {

    display: inline-block;
    text-align: center;
    width: 40%;
    border: 30px 20px;
    margin: 40px 130px;
    border-radius: 4px;
}